# Dependencies
node_modules/

# Build outputs
dist/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Prisma generated client
src/generated/prisma/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/


#graphify
/graphify-out/